<% if notice %>
  <div class="message">
    <div class="message-body"><%= notice %></div>
  </div
<% end %>

<h1>Order #<%= @order.id %></h1>

<div class="columns">
  <div class="column">
    <%= render partial: 'line_items/table', locals: { line_items: @order.line_items, new_line_item: @new_line_item } %>
  </div>
  <div class="column">
    <p>
      <strong>Buyer:</strong>
      <%= @order.buyer %>
    </p>

    <p>
      <strong>Seller:</strong>
      <%= @order.seller %>
    </p>

    <p>
      <strong>Total:</strong>
      <%= @order.total %>
    </p>

    <%= link_to 'Edit', edit_order_path(@order) %>
  </div>
</div>

<%= link_to 'Back', orders_path %>
