<% if line_item.errors.any? %>
  <tr id="error_explanation">
    <td colspan="5">
      <h2><%= pluralize(line_item.errors.count, "error") %> prohibited this line_item from being saved:</h2>

      <ul>
        <% line_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </td>
  </tr>
<% end %>

<%= tag.tr class: class_names('is-hidden': hidden), data: { mode: "edit" } do %>
  <td class="field">
    <%= form.text_field :seller, placeholder: 'Seller' %>
  </td>

  <td class="field">
    <%= form.text_field :product, placeholder: 'Product' %>
  </td>

  <td class="field">
    <%= form.number_field :quantity, placeholder: 'Quantity' %>
  </td>

  <td class="actions" colspan="2">
    <%= form.hidden_field :id %>
    <%= form.submit value: form.object.persisted? ? 'Save' : 'Add' %>
    <% if form.object.persisted? %>
      <%= link_to 'Cancel', '#', data: { action: 'click->inline-edit-table#toggleEdit'} %>
    <% end %>
  </td>
<% end %>
