<!DOCTYPE html>
<html>
  <head>
    <title>RainStimulusReflex</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to 'Rain', root_path, class: 'navbar-item has-text-weight-bold' %>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <%= link_to 'Orders', orders_path, class: 'navbar-item' %>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
